$primary-color: #17a2b9;
$dark-color: #343140;
$light-color: #d1d1d1;
$danger-color: #dc3545;
$success-color: #28a745;
$mac-width: 1100px;

// Set the text colour based on the background colour.
@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return #333;
  } @else {
    @return #fff;
  }
}

//mixin type of function used in sass which we can use to set background colours
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
